<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="steribaseDB" connectionString="server=localhost;port=3306;user=root;password=;database=steribase;SslMode=none;CharSet=utf8;"/>
  </connectionStrings>
  <appSettings>
    <add key="newFolder" value="E:\Users\tclasenlocal\Documents\Christoph\new"/>
    <add key="processedFolder" value="E:\Users\tclasenlocal\Documents\Christoph\processed"/>
    <add key="failedFolder" value="E:\Users\tclasenlocal\Documents\Christoph\failed"/>
    <add key="order" value="E:\Users\tclasenlocal\Documents\Christoph\order.txt"/>
    <add key="dbstructure" value="E:\Users\tclasenlocal\Documents\Christoph\dbstructure.txt"/>
    <add key="table" value="pdfimport"/>
    <add key="field" value="pdfimportid"/>
    <add key="pdfName" value="pdfname"/>
  </appSettings>
</configuration>